# Clipping PDFs (copyrighted newspaper scans)
**/clippings/*.pdf

# macOS
.DS_Store
**/.DS_Store

# Editor/IDE
*.swp
*~
.vscode/

# R artifacts
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc

# Temporary files
*.tmp
