# Clipping files (copyrighted newspaper scans — PDFs, JPGs, PNGs, and extensionless PDFs)
# These are intentionally kept on disk for the team but excluded from the public git repo
# until each paper's copyright status is reviewed and clippings are released individually.
**/clippings/**
# Keep the directory itself trackable so the folder structure is preserved
!**/clippings/

# macOS
.DS_Store
**/.DS_Store

# Editor/IDE
*.swp
*~
.vscode/

# R artifacts
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc

# Temporary files
*.tmp
